{# ----------------------------------------------------------------------------
In this file, you can define the style parameters.
Please note that an extension allows you to set these
parameters from the ACP without having to modify the file.
The extension also offers the option of changing the logo,
modifying the board width, predefining the colours and adding custom CSS.
https://github.com/cabot/damaioconfiguration
---------------------------------------------------------------------------- #}


{# Display login modal box
true = yes
false = no
#}
{% DEFINE MODAL_LOGIN = true %}



{# Display header full width
true = yes
false = no
#}
{% DEFINE H_FULL_WIDTH = true %}



{# Display footer full width
true = yes
false = no
#}
{% DEFINE F_FULL_WIDTH = false %}



{# Display button for show/hide passwords
true = yes
false = no
#}
{% DEFINE SHOWPASSWORD = true %}



{# Sticky top navbar
true = yes
false = no
#}
{% DEFINE STICKYNAV = false %}



{# ----------------------------------------------------------------------------
To configure the footer icons, see below.
---------------------------------------------------------------------------- #}

{# Display feed icon
true = yes
false = no
#}
{% DEFINE RBMSILVER33_FEED = false %}

{#
Each social icon below can be assigned two parameters:

- The first one is the URL of the social network.
Leave it empty if you don't want to display the icon.

- The second parameter is optional and allows you to modify the title attribute.
(information displayed in a tooltip when hovering the icon)
Useful if you want to translate it into the language of your board.
Leave it empty to display the icon default name.

To display an icon, only the first parameter (URL) is required.

Some characters you may want to copy&paste:
’ « » “ ” …

Important: each parameter must be enclosed with single quotes (''),
even if it is left empty.
#}

{% DEFINE RBMSILVER33_TELEGRAM = 'https://telegram.me/rebeldemule' %}
{% DEFINE RBMSILVER33_TELEGRAM_NAME = '' %}

{% DEFINE RBMSILVER33_INSTAGRAM = 'https://www.instagram.com/rebeldemule' %}
{% DEFINE RBMSILVER33_INSTAGRAM_NAME = '' %}

{% DEFINE RBMSILVER33_TWITTER = 'https://x.com/rebeldemule' %}
{% DEFINE RBMSILVER33_TWITTER_NAME = '' %}

{% DEFINE RBMSILVER33_FACEBOOK = 'https://www.facebook.com/pages/RebeldeMule-Comunidad-Alternativa/295464882228' %}
{% DEFINE RBMSILVER33_FACEBOOK_NAME = '' %}

{% DEFINE RBMSILVER33_GITHUB = 'https://github.com/RebeldeMule/' %}
{% DEFINE RBMSILVER33_GITHUB_NAME = '' %}

{% DEFINE RBMSILVER33_YOUTUBE = 'https://www.youtube.com/user/RebeldeMule' %}
{% DEFINE RBMSILVER33_YOUTUBE_NAME = '' %}

{% DEFINE RBMSILVER33_BLUESKY = '' %}
{% DEFINE RBMSILVER33_BLUESKY_NAME = '' %}

{% DEFINE RBMSILVER33_DEVIANTART = '' %}
{% DEFINE RBMSILVER33_DEVIANTART_NAME = '' %}

{% DEFINE RBMSILVER33_DISCORD = '' %}
{% DEFINE RBMSILVER33_DISCORD_NAME = '' %}

{% DEFINE RBMSILVER33_FLICKR = '' %}
{% DEFINE RBMSILVER33_FLICKR_NAME = '' %}

{% DEFINE RBMSILVER33_LINKEDIN = '' %}
{% DEFINE RBMSILVER33_LINKEDIN_NAME = '' %}

{% DEFINE RBMSILVER33_MASTODON = '' %}
{% DEFINE RBMSILVER33_MASTODON_NAME = '' %}

{% DEFINE RBMSILVER33_PAYPAL = '' %}
{% DEFINE RBMSILVER33_PAYPAL_NAME = '' %}

{% DEFINE RBMSILVER33_PINTEREST = '' %}
{% DEFINE RBMSILVER33_PINTEREST_NAME = '' %}

{% DEFINE RBMSILVER33_REDDIT = '' %}
{% DEFINE RBMSILVER33_REDDIT_NAME = '' %}

{% DEFINE RBMSILVER33_SKYPE = '' %}
{% DEFINE RBMSILVER33_SKYPE_NAME = '' %}

{% DEFINE RBMSILVER33_SNAPCHAT = '' %}
{% DEFINE RBMSILVER33_SNAPCHAT_NAME = '' %}

{% DEFINE RBMSILVER33_SOUNDCLOUD = '' %}
{% DEFINE RBMSILVER33_SOUNDCLOUD_NAME = '' %}

{% DEFINE RBMSILVER33_STEAM = '' %}
{% DEFINE RBMSILVER33_STEAM_NAME = '' %}

{% DEFINE RBMSILVER33_TIKTOK = '' %}
{% DEFINE RBMSILVER33_TIKTOK_NAME = '' %}

{% DEFINE RBMSILVER33_TUMBLR = '' %}
{% DEFINE RBMSILVER33_TUMBLR_NAME = '' %}

{% DEFINE RBMSILVER33_VKONTAKTE = '' %}
{% DEFINE RBMSILVER33_VKONTAKTE_NAME = '' %}

{% DEFINE RBMSILVER33_WHATSAPP = '' %}
{% DEFINE RBMSILVER33_WHATSAPP_NAME = '' %}

{# ----------------------------------------------------------------------------
Don't change anything below this line unless you know what you're doing.
---------------------------------------------------------------------------- #}
{% EVENT rbmsilver33_config %}